<!doctype html>
<head>
  <title> index </title>
  <h1> hallo thar </h1>
</head>
<body>
  <div class="container">
      <!--- graph goes here -->
  </div>
  <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
  <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
  <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
  <script src={{ url_for('static', filename='main.js')
}}></script>

</body>
